.contact {
    width: 100%;
    background: #afd7e5;
    border: 10px negro;
}

.contact a {
    width: 60px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    padding: 0.5rem;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 2px;
    margin-left: 15px;
    display: inline-block;
    background-color: #e8e8e8;
    color: #ada7a7;
    border: 10px groove #82c7e1;
    border-radius: 10px;
  }