.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #afd7e5;
}

.form div{
    margin-bottom: 20px;
    font-family: 'Lobster', cursive;
}

.meet {
    display: flex;
    flex-direction: column;
}


.form a, button {
    width: 120px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    padding: 0.5rem;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 2px;
    margin-left: 15px;
    display: inline-block;
    background-color: #e8e8e8;
    color: #ada7a7;
    border: 10px groove #82c7e1;
    border-radius: 10px;
  }